# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/exercices/cmake_build
.vs
bin
debug
release
.qmake.stash
optim.vcxproj
optim.vcxproj.filters
optim.vcxproj.user
warnings.vcxproj.user
.vs
bin
debug
release
.qmake.stash
warnings.vcxproj
warnings.vcxproj.filters
visual.vcxproj.user
.vs
bin
debug
release
.qmake.stash
visual.vcxproj
visual.vcxproj.filters
exercices/precompiledHeader/visual/visual/visual.sln
exercices/toolchain/src/testlink_dynamic/foo.exp
exercices/toolchain/src/testlink_dynamic/foobar.exp
exercices/toolchain/src/testlink_visual/testlink_visual.sln
exercices/toolchain/src/testlink_visual/testlink_visual.vcxproj
exercices/toolchain/src/testlink_visual/testlink_visual.vcxproj.filters
exercices/toolchain/src/testlink_visual/testlink_visual.vcxproj.user
exercices/toolchain/src/testlink_visual_II/testlink_visual.sln
exercices/toolchain/src/testlink_visual_II/testlink_visual.vcxproj
exercices/toolchain/src/testlink_visual_II/testlink_visual.vcxproj.filters
exercices/toolchain/src/testlink_visual_II/testlink_visual.vcxproj.user
